<nav class="breadcrumb-trail" role="navigation" aria-bale="breadcrumbs">
    <a class="breadcrumb-trail__item" href="{{ collections['all'].url }}">Candles</a>
    <i class="fas fa-chevron-right"></i>
    <a class="breadcrumb-trail__item" href="{{ collection.url }}">{{ collection.title }}</a>
</nav>