<div class="wrapper"> 
    <section class="page-banner" style="background-image: linear-gradient(
            to right, 
            {{ settings.color_accent_1 }} 50%, 
            {{ settings.color_accent_2 }} 0%);">
        <h1 class="page-banner__title">{{ page.title }}</h1>
    </section>
</div>