.featured-collection {
  display: flex;
  flex-wrap: wrap;
  max-width: $grid-max-width;
  margin: 0 auto;
  
  &__details {
    max-width: 90%;
  }

  .button {
    margin-top: 1rem;
  }
}

.featured-collection-item {
  flex: 1 1 percentage(1 / 3);
  height: 100%;
  text-align: center;
}

.featured-collection__image {
  width: 320px;
  max-width: 100%;
  margin: 0 auto;
}

.featured-collection__title {
  margin-top: -3rem;
  max-width: 40rem;
  text-align: center;

  &:hover {
    color: #000;
  }

  @include media-query($small) {
    font-size: 5vw;
    margin-top: 1rem;
  }
}
