<header class="page-banner">


    <h1 class="page-banner__title">{{ collection.title }}</h1>

</header>

{% schema %}
{
    "name" : "Collection hero image",
    "settings" : [
        {
            "type" : "image_picker",
            "id" : "collection-hero",
            "label" : "Collection Hero Image"
        }
    ]
}
{% endschema %}